doctype html
html(lang="ko")
  head
    title #{pageTitle} | 7조
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bootstrap Navbar Example
    //- 부트스트랩 CSS 추가
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    //- 부트스트랩에 필요한 JavaScript 라이브러리 추가
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")  
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
  style.
      body {
        background-color: skyblue;
        *{maring:0; padding:0;}
      }
      .custom-container {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .container-fluid {
        width: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
      .bg-light {
        background-color: transparent !important;
      }
      .navbar {
      }
      .navbar-nav {
        width: 100%;
      }
      .nav-item {
        margin-right:190px;
      }
      .logo-container {
        height: 500px;
      }

      .allbox-container {
        width:100%;
        margin:0 auto;
      }

      .img-div {
        width: 400px;
        height: 300px;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
      }
      .imm-div {
        width: 100px;
        height: 30px;
      }
      .img-div img {
        width: 100%;
        height: 100%;
      }
      .sitter-container {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        margin: 0rem 0rem 2rem 0rem;
      }
      .sitter-div img {
        width: 100%;
        height: 100%;
      }
      .sitter1-div {
        width: 500px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid navy;
        border-radius: 50px;
        padding: 20px 0px 0px 0px;
      }
      .sitter2-div {
        width: 500px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid navy;
        border-radius: 50px;
        padding: 20px 0px 0px 0px;
      }
      .sitter3-div {
        width: 500px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid navy;
        padding: 20px 0px 0px 0px;
        border-radius: 50px;
      }
      .sitter4-div {
        width: 500px;
        text-align: center;
        margin: 0 auto;
        border: 2px solid navy;
        border-radius: 50px;
        padding: 20px 0px 0px 0px;
      }
      .sitter1-div img {
        width:300px;
        height:150px;
      }
      .sitter2-div img {
        width:300px;
        height:150px;
      }
      .sitter3-div img {
        width:300px;
        height:150px;
      }
      .sitter4-div img {
        width:300px;
        height:150px;
      }
      .sitter1text  {
        text-align: center;
        border: 1px solid blue
      }
      .sitter-container.img
      .dog-container {
        width: 10px;
        height: 1120px;
        display: flex;
        justify-content: flex-end;
        align-items: center; 
      }
      .dog-div img {
        width: 400px;
        height: 400px;
        display: flex;
        margin: auto; 
        text-align:center;
        padding: 20px 0px 0px 0px;
      }
      .dog-button {
        display: block;
        text-align:center;
        margin: 1rem 0rem;
      }

      .rounded-image {
        border-radius: 10px; 
        border: 1px solid navy; 
      }
      .sitter-spacing {
        margin-bottom: 20px;
      }
      //- $(document).ready(function() {
      //-   $(".dog-button button").click(function() {
      //-     $(this).siblings(".review-form").toggle();
      //-   });
      //- });

body
    div.allbox-container
      .custom-container
          img(src="/images/Frame52.png", alt="")
      nav.navbar.navbar-expand-lg.bg-light
        .container-fluid
          button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
          div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav
              li.nav-item
                a.nav-link(href="/reservation") 예약하기
              li.nav-item
                a.nav-link(href="/pets") 펫 등록하기
              li.nav-item
                a.nav-link(href="/users/signin") 로그인
              li.nav-item
                a.nav-link(href="/users/signup") 회원가입
              li.nav-item
                a.nav-link(href="/mypage") 마이페이지
                li.nav-item
                a.nav-link(href="/api/reviews") 리뷰등록
              
      div.logo-container
        div.img-div
          img(src="/images/logo.png", alt="")
div.sitter-div
  div.sitter1-div
    div.sitter1img-div
      img(src="/images/sitter1.jpg", alt="", class="rounded-image")
    div.sitter1text-div
      p
      p 펫시터 이름 : 최창근
      p 펫시터 경력 : 10년
      p 펫시터 어필 : 제발 플리즈!! 저를 써주세요.!!
    div.dog-button
      button.btn.btn-primary(type="button" data-toggle="modal" data-target="#reviewModal") 리뷰쓰기
div.sitter-spacing
div.sitter-div
  div.sitter2-div
    div.sitter2img-div
      img(src="/images/sitter2.jpg", alt="", class="rounded-image")
    div.sitter1text-div
      p
      p 펫시터 이름 : 이예진
      p 펫시터 경력 : 2년차
      p 펫시터 어필 : 새내기 입니다. 열정!!열정!!!
    div.dog-button
      button.btn.btn-primary(type="button" data-toggle="modal" data-target="#reviewModal") 리뷰쓰기
div.sitter-spacing
div.sitter-div
  div.sitter3-div
    div.sitter3img-div
      img(src="/images/sitter3.jpg", alt="", class="rounded-image")
    div.sitter1text-div
      p
      p 펫시터 이름 : 최낙민
      p 펫시터 경력 : 5년차
      p 펫시터 어필 : 일을 잘하고 강아지와 소통할 줄 압니다. 왈왈왈
    div.dog-button
      button.btn.btn-primary(type="button" data-toggle="modal" data-target="#reviewModal") 리뷰쓰기
div.sitter-spacing
div.sitter-div
  div.sitter4-div
    div.sitter4img-div
      img(src="/images/sitter4.jpg", alt="", class="rounded-image")
    div.sitter1text-div
      p
      p 펫시터 이름 : 박채원
      p 펫시터 경력 : 15년차
      p 펫시터 어필 : 펫시터 달인입니다 고양이 하 악질 잘합니다.
    div.dog-button
      button.btn.btn-primary(type="button" data-toggle="modal" data-target="#reviewModal") 리뷰쓰기
  div.modal.fade#reviewModal(tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true")
        div.modal-dialog(role="document")
          div.modal-content
            div.modal-header
              h5.modal-title#reviewModalLabel 리뷰 작성
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div.modal-body
              form(action="/submit_review", method="post")
                label(for="review_text") 리뷰 작성:
                textarea#review_text.form-control(name="review_text", rows="4" cols="50")
            div.modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal") 닫기
              input.btn.btn-primary(type="submit" value="제출")
  div.dog-container
      div.dog-div
        img(src="/images/dog.png", alt="")
  